body {
  background: #3D3935;
  height: 100%;
}
.App {
  /*text-align: center;*/
  background-color: #3D3935;
  min-height: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo-text {
  height: 80px;
  margin-left: 15px;
  margin-top: 10px;
}

.App-tag-line {
  margin-left: 95px;
}

.App-header {
  background-color: #3D3935;
  /*height: 300px;*/
  /*padding: 20px;*/
  color: white;
}

.App-main {
  background-color: #3D3935;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*
Boot Strap Overrides
 */

/*
Generic
 */
/*.navbar {*/
  /*min-height:20px;*/
/*}*/
/*.navbar-header {*/
  /*padding: 0;*/
  /*margin: 0;*/
/*}*/
.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important; padding-bottom:0 !important;
  height: 30px;
}
.navbar {min-height:30px !important;}

.navbar-xs { min-height:28px; height: 28px; }
.navbar-xs .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }

/* Flatten das boostrap */
.panel, .panel-title, .panel-heading, .well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

/*
Panels
 */

.panel {
  border: 0;
}

.panel .panel-primary > .panel-heading {
  color: #3D3935;
  background: #0090DA;
}

.panel .panel-success > .panel-heading {
  color: #3D3935;
  background: #7fd1cc;
}

.panel .panel-danger > .panel-heading {
  color: #3D3935;
  background: #e36937;
}

.panel-body > span {
  color: #3D3935;
}

.panel-group {
  margin-bottom: 0px;
}


/*
Buttons
*/
.btn {
  border: 0px;
  color: #3D3935;
}

.btn-primary {
  color: #3D3935;
  /*background: #0090DA;*/
}

.btn-sectionHead:hover,
.btn-sectionHead:focus,
.btn-sectionHead:active,
.btn-sectionHead {
  color: #ffffff;
  border-color: #285e8e;
  background: #3d3935;
}


.no-bullets {
  list-style-type: none
}

.white {
  color: #ffffff
}

/*
Input Groups
 */
.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

/*
Loader
 */
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9999;
}

/*
Inline Editing
 */

.editing {
  background: transparent;
  //width: auto;
  //min-width: 250px;
}